**/__tests__
**/node_modules
**/.DS_Store
.vscode
.resources
dev.js
jest.config.js
tsconfig.test.json
nodemon.json
.eslintrc
.eslintignore
config.yaml
build.yaml
Dockerfile
.dockerignore
DOCS.md
CHANGELOG.md
coverage
